body {
  background: #c80404;
  width: 99%;
  background-size: contain;;
  background-repeat: no-repeat ;
  background-size: cover;
  background-size: 100%;
  background-position:center;;
  background-attachment: fixed;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   position: sticky;
   top: 0;
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: #111;
}

#container{
    width: 95%;
    margin:0 auto;
}
#topbar{
    width:auto;
    display:block;
    margin-top: 55px;

}
#navbar{
    width:auto;
    display:block;
    height:24px;
}

#main{
    width:auto;
    display:block;
}
#column_left{
    width:560px;
    margin-right:20px;
    float:left;
}
#column_right{
    width:200px;
    float:left;
}

div.spacer{
    clear:both;
    height:10px;
    display:block;
}
p {
    font-size: 25px;
}
.taille {
width:300%;
height:300%;
}
.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: grey;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
