
.card{ 
  width: 250px;
  height: 350px;
  margin: 10px;
}

.card-body{
  background: url(./images/background3.jpg);
  opacity: 85%;
}
.card-title, .card-text{
  color: white;
}

.card-img-top{
  opacity: 100%;
}


.jumbotron{
  background: url(./images/background.jpg) center;
  background-size: cover;
  height: 400px;
}

