mark {
  background-color: white;
  color: #B40404;
  opacity: 0.9;
}
body {
      background: black;
         width: 99%;
         background-size: contain;
         background-repeat: no-repeat ;
         background-size: cover;
         background-size: 100%;
         background-position:center;
         background-attachment: fixed;
}
#menu{
      background-image: url("images/menu.png");
      background-repeat: no-repeat;
      }
#audio-example {
display: block;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   position: sticky;
   top: 0;
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: #111;
}

#container{
    width: 95%;
    margin:0 auto;
}
#topbar{
    width:auto;
    display:block;
    margin-top: 55px;

}
#navbar{
    width:auto;
    display:block;
    height:24px;
}

#main{
    width:auto;
    display:block;
    margin-left:350px;
}

div.spacer{
    clear:both;
    height:10px;
    display:block;
}
p {
    font-size: 25px;
}

    .grid{
        position: relative;
        margin:0;
        padding:auto;
        max-width:100%;
        list-style:none;
        align-self: center;
}

    .grid figure{
        position:relative;
        float: none;
        overflow:hidden;
        margin:10px 1%;
        min-width:320px;
        max-width:480px;
        max-height:360px;
        width:100%;
        background: white;
        text-align:center;
        cursor:pointer;
}/*filtre image avant souris*/
    .grid figure img{
        position:relative;
        display:block;
        min-height:100%;
        max-width:100%;
        opacity:.8;
}
    .grid figure figcaption{
        padding:2em;
        color:black;
        text-transform:uppercase;
        font-size:1.25em;
        backface-visibility:hidden;
}/*titre dans l'image*/
    .grid figure figcaption{
        pointer-events:none;
}
/*permet de reconnaitre la souris au survol */
    .grid figure figcaption,.grid figure figcaption>a{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
}
/*taille de l'image avant le survol*/

    .grid figure h2{
        word-spacing:-0.15em;
        font-weight:300px;
      }

    .grid figure h2,.grid figure p{
        margin:0;}
    .grid figure p{
        letter-spacing:1px;
        font-size:65%;
}
/* les deux p: position du paragraphe en dessous du titre*/
    @media screen and (max-width:100%){
    .grid figure{
        display:inline-block;
        float:none;
        margin:10px auto;
        width:100%;
        }
}
  /* permet de deplacer l'image sur la gauche*/
figure.effect img{
    max-width:none;
    width:calc(100% + 50px);
    opacity:.7;
    transition:opacity .35s,transform .35s;
    transform:translate3d(-40px,0,0);
}
/* s'occupe des reglages du déplacement de l'image*/
figure.effect figcaption{
    text-align:left;
}
figure.effect figcaption div{
    position:absolute;
    bottom:0;
    left:0;
    padding:2em;
    width:100%;
    height:50%;
}
/*gere la position du texte (peut etre enlever?)*/
figure.effect h2,figure.effect p{
    transform:translate3d(0,40px,0);
}
figure.effect h2{
    transition:transform .35s;
}
/*paragraphe qui apparait dans limage*/
figure.effect p{
    color:black;
    font-weight:bold;
    opacity:0;
    transition:opacity .2s,transform .35s;
}
figure.effect:hover img,figure.effect:hover p{
    opacity:1;
}
figure.effect:hover img,figure.effect:hover h2,figure.effect:hover p{
    transform:translate3d(0,0,0);
}
/* effets ne marchent pas sans*/
figure.effect:hover p{
    transition-delay:.05s;
    transition-duration:.35s;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
