canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/mur.jpg);
    margin-top: 5%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:
    0 0 0.1vw  0.4vw #ff0ef3,   
    0 0 0.4vw  0.6vw #ce2eff, 
    0 0   4vw  0.4vw #ac3acf;
    
}

body{
    background: rgb(29, 7, 49);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
}
